.mj{
  height: 350px;
font-size: 90px;
background: red;
border-radius: 50%;
width: 350px;
display: flex;
justify-content: center;
align-items: center;
color: white;
box-shadow: -9px 20px 7px 9px black;
position: relative;
top: 0px;
transition: all 0.15s ease;
cursor: pointer;
}
.down{

top: 10px;
box-shadow: -8.5px 15px 6px 0px black;

}
.cc{
      height: 100vh ;
display: flex;
justify-content: center;
align-items: center;
}

.centers{
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
